*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  width: 90%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: hsl(0deg, 0%, 13%);
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-areas: "g01 g01 g01 g01 g01 g01 g01 g01 g01 g01 g01 g01 g01" "g02 g02 g02 g02 g02 g02 g02 g02 g02 g02 g02 g02 g02" "g03 g03 g03 g03 g03 g03 g03 g03 g03 g03 g03 g03 g03" "g04 g04 g04 g04 g04 g04 g04 g04 g04 g04 g04 g04 g04" "g05 g05 g05 g05 g05 g05 g05 g05 g05 g05 g05 g05 g05" "g06 g06 g06 g07 g07 g07 g07 g07 g07 g07 g07 g07 g07" "g06 g06 g06 g08 g08 g08 g08 g08 g08 g08 g08 g08 g08" "g06 g06 g06 g09 g09 g09 g09 g09 g09 g09 g09 g09 g09" "g10 g10 g10 g10 g10 g10 g10 g10 g10 g10 g10 g10 g10" "g11 g11 g11 g11 g11 g11 g11 g11 g11 g11 g11 g11 g11" "g12 g12 g12 g12 g12 g12 g12 g12 g12 g12 g12 g12 g12";
}

.gridItem-1 {
  grid-area: g01;
}

.gridItem-2 {
  grid-area: g02;
}

.gridItem-3 {
  grid-area: g03;
}

.gridItem-4 {
  grid-area: g04;
}

.gridItem-5 {
  grid-area: g05;
}

.gridItem-6 {
  grid-area: g06;
}

.gridItem-7 {
  grid-area: g07;
}

.gridItem-8 {
  grid-area: g08;
}

.gridItem-9 {
  grid-area: g09;
}

.gridItem-10 {
  grid-area: g10;
}

.gridItem-11 {
  grid-area: g11;
}

.gridItem-12 {
  grid-area: g12;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-top {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: hsl(0deg, 0%, 47%);
}
.header-top__socials i {
  padding: 0.4rem;
  background-color: hsl(0deg, 0%, 86%);
  border-radius: 0.5rem;
  font-size: 1.1rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
.header-top__socials i:hover {
  background-color: hsl(353deg, 100%, 78%);
  color: hsl(0deg, 100%, 100%);
}
.header-top__news {
  font-size: 0.9rem;
  text-transform: uppercase;
}
.header-top__actions select {
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: inherit;
  margin: 0 1rem;
  padding: 1rem 0;
}
.header-top__actions .currencySelect {
  width: 4.5rem;
}
.header-top__actions .languageSelect {
  width: 6rem;
}

.header-main {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: hsl(0deg, 0%, 47%);
  border-top: 1px solid hsl(0deg, 0%, 86%);
  border-bottom: 1px solid hsl(0deg, 0%, 86%);
}
.header-main__logo {
  width: 200px;
}
.header-main__logo img {
  width: 130px;
}
.header-main__searchBox {
  width: 100%;
  margin: 0 10rem;
  position: relative;
}
.header-main__searchBox input {
  width: 100%;
  font-family: inherit;
  padding: 0.8rem 1rem;
  padding-right: 3rem;
  border: 0.5px solid hsl(0deg, 0%, 86%);
  border-radius: 0.5rem;
}
.header-main__searchBox i {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  font-size: 1.2rem;
}
.header-main__userAction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-right: 1.5rem;
}
.header-main__userAction i {
  width: 2rem;
  margin: 0 0.7rem;
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 27%);
}
.header-main__userAction span {
  width: 20px;
  height: 20px;
  background-color: hsl(0deg, 100%, 70%);
  color: hsl(0deg, 100%, 100%);
  font-size: 0.7rem;
  border-radius: 1000px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-main__userAction .i2 {
  top: -0.8rem;
  left: 5.5rem;
}
.header-main__userAction .i3 {
  top: -0.8rem;
  left: 9.2rem;
}

.header-menu {
  font-weight: 600;
  text-transform: uppercase;
}
.header-menu .menu-category-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header-menu .menu-item {
  color: hsl(0deg, 0%, 27%);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 14px;
  position: relative;
}
.header-menu .menu-item::after {
  content: "";
  border-bottom: 3px solid hsl(0deg, 100%, 70%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  transition: all 0.2s ease;
}
.header-menu .menu-item:hover {
  color: hsl(0deg, 100%, 70%);
}
.header-menu .menu-item:hover::after {
  right: 0;
}

.men-menu {
  position: relative;
}

.men-submenu {
  background-color: hsl(0deg, 100%, 100%);
  border-radius: 5px;
  padding: 20px;
  padding-right: 45px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  top: 102%;
  left: 0;
  z-index: 1000;
  display: none;
  transition: all 0.2s ease;
}

.men-submenu-item {
  display: block;
  width: 150px;
  margin: 10px 0;
  font-weight: 400;
}

.men-submenu-title {
  width: 100%;
  color: hsl(0deg, 0%, 27%);
  text-transform: capitalize;
  transition: all 0.2s ease;
}
.men-submenu-title:hover {
  color: hsl(0deg, 100%, 70%);
}

.women-menu {
  position: relative;
}

.women-submenu {
  background-color: hsl(0deg, 100%, 100%);
  border-radius: 5px;
  padding: 20px;
  padding-right: 45px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  top: 102%;
  left: 0;
  z-index: 1000;
  display: none;
  transition: all 0.2s ease;
}

.women-submenu-item {
  display: block;
  width: 150px;
  margin: 10px 0;
  font-weight: 400;
}

.women-submenu-title {
  width: 100%;
  color: hsl(0deg, 0%, 27%);
  text-transform: capitalize;
  transition: all 0.2s ease;
}
.women-submenu-title:hover {
  color: hsl(0deg, 100%, 70%);
}

.jewelry-menu {
  position: relative;
}

.jewelry-submenu {
  background-color: hsl(0deg, 100%, 100%);
  border-radius: 5px;
  padding: 20px;
  padding-right: 45px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  top: 102%;
  left: 0;
  z-index: 1000;
  display: none;
  transition: all 0.2s ease;
}

.jewelry-submenu-item {
  display: block;
  width: 150px;
  margin: 10px 0;
  font-weight: 400;
}

.jewelry-submenu-title {
  width: 100%;
  color: hsl(0deg, 0%, 27%);
  text-transform: capitalize;
  transition: all 0.2s ease;
}
.jewelry-submenu-title:hover {
  color: hsl(0deg, 100%, 70%);
}

.header-slider {
  background-color: rgb(166, 166, 166);
}

.category-item {
  background-color: rgb(0, 64, 255);
}

.sidebar {
  background-color: rgb(3, 20, 20);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.sidebar-sticky {
  position: sticky;
  top: 25px;
}
.sidebar-category {
  background-color: rgb(236, 174, 81);
  height: 300px;
}
.sidebar-showcase {
  background-color: rgb(144, 76, 153);
  height: 300px;
}

.product-minimal {
  background-color: rgb(11, 110, 64);
}

.product-featured {
  background-color: rgb(155, 69, 63);
}

.product-main {
  background-color: rgb(0, 162, 255);
}

.testimonials-box {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-areas: "t01 t01 t01 t02 t02 t02 t02 t02 t02 t02 t03 t03 t03";
}
.testimonials-box .testimonial {
  grid-area: t01;
  background-color: rgb(255, 145, 0);
}
.testimonials-box .testimonial-banner {
  grid-area: t02;
  background-color: rgb(182, 17, 17);
}
.testimonials-box .testimonial-service {
  grid-area: t03;
  background-color: rgb(82, 153, 76);
}

.blog-container {
  background-color: rgb(0, 102, 255);
}

.footer {
  background-color: rgb(148, 158, 10);
}

/*# sourceMappingURL=main.css.map */
