.header-top{
    padding: 1rem 0;
    @include flexRowSpaceBetween;
    color: $sonic-silver;

    &__socials{
        i{
            padding: 0.4rem;
            background-color: $cultured;
            border-radius: 0.5rem;
            font-size: 1.1rem;
            transition: $transition;
            cursor: pointer;
            &:hover{
                background-color: $salmon-pink;
                color: $white;
            }
        }
    }
    &__news{
        font-size: 0.9rem;
        text-transform: uppercase;
    }
    &__actions{
        select{
            border: none;
            font-size: 0.9rem;
            text-transform: uppercase;
            color: inherit;
            margin: 0 1rem;
            padding: 1rem 0;
        }
        .currencySelect{
            width: 4.5rem;   
        }
        .languageSelect{
            width: 6rem;

        }
    }
}