.header-menu{
  font-weight: 600;
  text-transform: uppercase;
  color: $eerie-black;
  padding: 17px;
  .menu-category-list{
    @include flexCenter;
    flex-wrap: wrap;
  }
  .menu-title{
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
    padding: 14px;
    &::after{
      content: "";
      border-bottom: 3px solid $bittersweet;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 100%;
      transition: all 0.3s ease;
    }
    &:hover{
      color: $bittersweet;
      &::after{
        right: 0;
      }
    }
  }
}