.header-menu{
  font-weight: 600;
  text-transform: uppercase;
  padding: 17px;
  position: relative;
  .menu-category-list{
    @include flexCenter;
    flex-wrap: wrap;
  }
  .menu-title{
    color: $onyx;
    cursor: pointer;
    position: relative;
    transition: $transition;
    padding: 14px;
    &::after{
      content: "";
      border-bottom: 3px solid $bittersweet;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 100%;
      transition: $transition;
    }
    &:hover{
      color: $bittersweet;
      &::after{
        right: 0;
      }
    }
  }
}

// SubMenu :
.men-submenu{
  display: inline-block;
  background-color: $white;
  border-radius: 5px;
  padding: 17px;
  padding-right: 70px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  left : 36%;
  z-index: 1000;
  transition: $transition;
  opacity: 0;
}

.men-submenu-item{
  margin: 10px 0;
  font-weight: 400;
}
.men-submenu-title{
  color: $onyx;
  text-transform: capitalize;
  transition: $transition;
  &:hover{
    color: $bittersweet;
  }
}