.sidebar{
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &-sticky{
    position: sticky;
    top: 25px;
  }
  &-category{
    background-color: rgb(236, 174, 81);
    height: 300px;
  }
  &-showcase{
    background-color: rgb(144, 76, 153);
    height: 300px;
  }
}