.container {
  display: grid;
  grid-template-columns: repeat(13,1fr);
  grid-template-areas:
    "g01 g01 g01 g01 g01 g01 g01 g01 g01 g01 g01 g01 g01"
    "g02 g02 g02 g02 g02 g02 g02 g02 g02 g02 g02 g02 g02"
    "g03 g03 g03 g03 g03 g03 g03 g03 g03 g03 g03 g03 g03"
    "g04 g04 g04 g04 g04 g04 g04 g04 g04 g04 g04 g04 g04"
    "g05 g05 g05 g05 g05 g05 g05 g05 g05 g05 g05 g05 g05"
    "g06 g06 g06 g06 g07 g07 g07 g07 g07 g07 g07 g07 g07"
    "g06 g06 g06 g06 g08 g08 g08 g08 g08 g08 g08 g08 g08"
    "g06 g06 g06 g06 g09 g09 g09 g09 g09 g09 g09 g09 g09"
    "g10 g10 g10 g10 g10 g10 g10 g10 g10 g10 g10 g10 g10"
    "g11 g11 g11 g11 g11 g11 g11 g11 g11 g11 g11 g11 g11"
    "g12 g12 g12 g12 g12 g12 g12 g12 g12 g12 g12 g12 g12"
    ;
  grid-auto-rows: 500px;
  gap: 20px;
}

.gridItem-1 {
    grid-area: g01;
}
.gridItem-2 {
    grid-area: g02;
}
.gridItem-3 {
    grid-area: g03;
}
.gridItem-4 {
    grid-area: g04;
}
.gridItem-5 {
    grid-area: g05;
}
.gridItem-6 {
    grid-area: g06;
}
.gridItem-7 {
    grid-area: g07;
}
.gridItem-8 {
    grid-area: g08;
}
.gridItem-9 {
    grid-area: g09;
}
.gridItem-10 {
    grid-area: g10;
}
.gridItem-11 {
    grid-area: g11;
}
.gridItem-12 {
    grid-area: g12;
}


